<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Telerik_v3_Feed" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
		<Telerik_v3_Feed>
			<add key="Username" value="api-key" />
			<add key="ClearTextPassword" value="%TELERIK_NUGET_KEY%" />
		</Telerik_v3_Feed>
	</packageSourceCredentials>
</configuration>