@font-face {
    font-family: 'caslonantique';
    src: url('font/CaslonAntique.ttf') format('truetype');
}
.page {
    height: 100vh;
    background: black;
}

.stripes {
    height: 100%;
    background: repeating-linear-gradient( 90deg, white, white 100px, transparent 100px, transparent 200px );
    opacity: 0.0;
    animation: gradient 10s ease-in 0s infinite alternate;
}

@keyframes gradient {
    0% {
        opacity: 0.0;
    }

    25% {
        opacity: 0.0;
    }

    100% {
        opacity: 0.4;
    }
}

.countdown {
    background: black;
    opacity: 1.0 !important;
    text-align: center;
    vertical-align: middle;
}

.digit {
    display:inline-block;
    width:75px;
    color: #2fff00;
    font-family: caslonantique;
    font-size: 80px;
    
    
}
    .digit:hover {
        transition: transform 1.0s;
        transform-style: preserve-3d;
        transform: rotateX(180deg);
        color: #9600ff;
    }

.spacer {
    width:15px;

}