@page "/"
@using System.Timers;

<PageTitle>It's Showtime!'</PageTitle>
<div class="page">
    <div class="blackStripes" />
    <div class="countdown">
        <span class="digit">@timeToParty.Days.ToString("00")</span>
        <span class="digit spacer">:</span>
        <span class="digit">@timeToParty.Hours.ToString("00")</span>
        <span class="digit spacer">:</span>
        <span class="digit">@timeToParty.Minutes.ToString("00")</span>
        <span class="digit spacer">:</span>
        <span class="digit">@timeToParty.Seconds.ToString("00")</span>
    </div>
    <div class="greenStripes"/>
</div>

@code {

    private static System.Timers.Timer aTimer;
    private int counter = 10;

    private DateTime party = new DateTime(2024, 10, 19, 18, 0, 0);
    private TimeSpan timeToParty;

    protected override async Task OnInitializedAsync()
    {
        StartTimer();
    }

    public void StartTimer()
    {
        timeToParty = party - DateTime.Now;
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    public void CountDownTimer(Object source, ElapsedEventArgs e)
    {
        timeToParty = party - DateTime.Now;

        InvokeAsync(StateHasChanged);
    }

}

