@font-face {
    font-family: 'caslonantique';
    src: url('font/CaslonAntique.ttf') format('truetype');
}

.page {
    color: var(--kendo-color-on-app-surface);
    font-family: caslonantique;


    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap: 2em;

}

.main-container, .side-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    gap: 1em;
}



.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


body {
}
