@font-face {
    font-family: 'caslonantique';
    src: url('font/CaslonAntique.ttf') format('truetype');
    
}

.page {
    color: var(--kendo-color-on-app-surface);
    font-family: caslonantique;
}

.page h2 {
    text-align:center;
}

.video-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


body {
}
